body {
    background-color: black;
    color: white;
    max-width: 900px;
    margin: auto;
    border: 1px solid black;
    padding: 10px;
}

a {
    text-decoration: none;
    color: purple;
}
footer {
    text-align: center;
}

.title {
    text-align: center;
}

#navbar {
    text-align: center;
}

nav a {
	padding: 5px;
}

#blogs{
	padding: 10px;
	margin: 10px;
}

.subtitle {
    text-align: center;
}
